/*:root selector is basically same as 'html' in this context.*/
:root{
--primary: #ccc394;
--secondary: #2b3768;
--base-spacing: 8px;
}

main{
  background: var(--secondary);

}

body{
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  background-color: var(--secondary);
font-family: 'Acme', sans-serif;
font: var(--primary);
margin: calc(var(--base-spacing)*4);
}

header,
section:nth-of-type(odd),
footer {
  background: var(--secondary);
  color: var(--secondary-text);
}

nav,
section:nth-of-type(even){
  border-top: var(--border-secondary);
  border-bottom: var(--border-secondary);
}

footer{
  border-top: var(--border-primary);
}

/* Layout*/

header {
display: flex;
flex-direction: column;
align-items: center;
}

figure,
h1,
h2{
  margin: 0;
}

img{
  border-radius: calc(var(--base-spacing)*2) var(--base-spacing);
  box-shadow: ;
}
